{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inicio de sesión</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static '/styles/form.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/form(light).css' %}" />
    <link rel="stylesheet" href="{% static '/styles/responsive.css' %}" />
    <script src="https://kit.fontawesome.com/cd39f42707.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <main>
      <form method="POST" id="login">
        {% csrf_token %}
        <h2 class="title">Iniciar sesión</h2>
        <p  class="invalid" id="error">{{ error }}</p>
        <div class="inputs">
          <div class="input-box">
            <label for="username">Nombre de Usuario</label>
            <input
              type="text"
              placeholder="Usuario..."
              name="username"
              id="username"
              onkeydown="submitOnEnter(event, 'password')"
            />
          </div>
          <div class="input-box">
            <label for="password">Contraseña</label>
            <input
              type="password"
              placeholder="Contraseña..."
              name="password"
              id="password"
              onkeydown="submitOnEnter(event)"
            />
          </div>
        </div>
        <a
          href="javascript:void(0)"
          onclick="submit(event)" class="submit"
          >iniciar</a
        >
        <p id="center" class="new">
          Registrar usuario nuevo <a href="/signup/"> aquí</a>
        </p>
      </form>
    </main>
    <script src="{% static 'js/signin.js' %}"></script>
  </body>
</html>
